:root {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dbdbd2;
    height: 100vh;
    overflow: hidden;
}

body::after {
    content: "";
    display: block;
    height: 127px;
    width: 100%;
    background-color: #009688;
    position: fixed;
    top: 0;
    z-index: -1;
}

.container {
    height: calc(100% - 48px);
}

/* Layout container left */
.left-container {
    min-width: 200px;
    width: 35%;
    border-right: 1px solid #d6d6d6;
    flex-shrink: 0;
}

.user {
    height: 60px;
    background-color: #eaeaea;
    flex-shrink: 0;
}

.notifications {
    height: 70px;
    background-color: #8edafc;
    flex-shrink: 0;
}

.search-bar {
    height: 50px;
    background-color: #fafafa;
    flex-shrink: 0;
}

.contacts {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Elementi container left */

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.avatar img {
    width: 50px;
    margin-right: .5rem;
}

.user i {
    width: 24px;
    text-align: center;
    color: #b1b1b1;
}

.user a {
    margin: 0 .5rem;
}

.notifications i {
    font-size: 1.25rem;
    color: #8edafc;
}

.contact {
    height: 70px;
    border-bottom: 1px solid #d6d6d6;
    cursor: pointer;
}

.chat-info {
    font-size: .75rem;
    color: gray;
}

/* Layout container right */
.right-container {
    flex-grow: 1;
}

.chat {
    background-image: url("../img/mine.jpg");
    background-size: 400px;
    overflow: auto;
}

.input-area-container {
    flex-shrink: 0;
    background-color: #f3eeea;
    height: 50px;
}

/* Elenmenti container right */
.input-area-container i {
    width: 50px;
    font-size: 1.5rem;
}

.textarea {
    max-width: 400px;
    padding: .8rem .5rem .8rem .8rem;
    border-radius: 5px;
    font-size: 1rem;
}

.textarea i {
    cursor: pointer;
    display: none;
    color: #8d9f7f;
}

.textarea:hover i {
    display: block;
}

.sent .textarea {
    background-color: #d5f9ba !important;
}

.sent>div {
    justify-content: flex-end;
}

.message .date {
    font-size: .75rem;
    color: lightgray;
    margin-bottom: -.5rem;
    max-width: 50px;
}